<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<main>
<form th:if="${room != null}"
      th:action="@{'http://localhost:8080/room/get/' + ${room.uuid} + '/edit'}" method="POST">
    <input type="hidden" class="uuid" th:value="${room.uuid}">
    <input name="name" type="text" th:value="${room.name}">
    <input name="description" type="text" th:value="${room.description}">
    <input type="submit" value="Save">
</form>
<form th:if="${room == null}"
     th:action="@{'http://localhost:8080/room/add'}" method="POST">
    <input name="name" type="text" placeholder="Name">
    <input name="description" type="text" placeholder="Description">
    <input type="submit" value="Create">
</form>
<form th:if="${room != null}"
      th:action="@{'http://localhost:8080/room/remove/' + ${room.uuid}}" method="POST">
    <input type="submit" value="Delete">
</form>
</main>
</body>
</html>