<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit room</title>
</head>
<body>
<form th:action="@{'http://localhost:8080/room/get/' + ${room.uuid} + '/edit'}" method="POST">
    <input type="hidden" class="uuid" th:value="${room.uuid}">
    <input name="name" type="text" th:value="${room.name}">
    <input name="description" type="text" th:value="${room.description}">
    <input type="submit" value="Opslaan">
</form>
<button class="delete">
    Delete
</button>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("button.delete").addEventListener("click", function () {
            const uuid = document.querySelector(".uuid").value;
            fetch("http://localhost:8080/room/remove/" + uuid, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: null, // body data type must match "Content-Type" header
            })
                .then(function (response) {
                    if (response.ok) {
                        window.location.href = "http://localhost:8080/room";
                    }
                })
        });
    });
</script>
</body>
</html>