<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<main>
<form th:if="${item != null}"
      th:action="@{'http://localhost:8080/item/get/' + ${item.uuid} + '/edit'}" method="POST">
    <input type="hidden" class="uuid" th:value="${item.uuid}">
    <input name="name" type="text" th:value="${item.name}">
    <input name="description" type="text" th:value="${item.description}">
    <input type="submit" value="Save">
</form>
<form   th:if="${item == null}"
        th:action="@{'http://localhost:8080/item/add/' + ${roomUuid}}" method="POST">
    <input name="name" type="text" placeholder="Name">
    <input name="description" type="text" placeholder="Description">
    <input type="submit" value="Create">
</form>
<form   th:if="${item != null}"
        th:action="@{'http://localhost:8080/item/remove/' + ${item.uuid} + '/'}" method="POST">
    <input type="hidden" class="hidden" name="delete" value="true">
    <input type="hidden" class="uuid" th:value="${item.uuid}">
    <input type="submit" value="Delete">
</form>
</main>
</body>
</html>