<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<main>
    <div class="content">
        <form th:action="@{'http://localhost:8080/item'}" method="GET">
            <input name="search" type="text">
            <input type="submit" value="Search">
        </form>
        <a th:if="lastSearchResult != null" th:href="@{'/item?search=' + ${lastSearchResult}}" th:text="'Your last search was:' + ${lastSearchResult}">search result</a> <br />
        <a th:if="search != null" th:href="@{'/item?search=' + ${search.getValue()}}" th:text="'Your current search was:' + ${search.getValue()}">search result</a>
    </div>
    <div class="content">
        <ul>
            <li th:each="item : ${items}">
                <a th:href="@{'/item/get/' + ${item.uuid}} + '/edit/'" th:text="${item.name}">${item.name}</a>
                <span th:text="${item.description}">${item.description}</span>
                <span th:text="${item.uuid}">${item.uuid}</span>
            </li>
        </ul>
        <span th:if="${#lists.isEmpty(items)}">There are no items here</span>
    </div>
</main>
</body>
</html>