<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <main>
        <form action="/register" method="POST">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Register">
        </form>
    </main>
</body>
</html>