<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<main>
<div class="content" th:if="${#lists.isEmpty(rooms)}">There are no rooms here
    <a class="button" th:href="@{'/room/add'}">Add Room</a>
</div>
    <div class="content">
        <ul id="list-container">
            <li class="list-item" th:each="room : ${rooms}">
                <p th:if="${room.userWhoCreated != null}" th:text="@{'Created by:' + ${room.userWhoCreated}}">Created by: ${room.userWhoCreated}</p>
                <a class="button" th:href="@{'/room/get/' + ${room.uuid} + '/edit/'}" th:text="${room.name}">${room.name}</a>
                <span th:text="${room.description}">${room.description}</span>
                <a th:href="@{'/item/add/' + ${room.uuid}}" class="button">Add Item</a>
                <ul th:if="${!#lists.isEmpty(room.items)}">
                    <li th:each="item : ${room.items}">
                        <a class="button" th:href="@{'/item/get/' + ${item.uuid}} + '/edit/'" th:text="${item.name}">${item.name}</a>
                        <span th:text="${item.description}">${item.description}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
<div class="content" th:if="${!#lists.isEmpty(rooms)}"><a th:href="@{'/room/add'}" >Add Room</a></div>
</main>
</body>
</html>